.home-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}
.hp-container-header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.hp-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--grey1);
}
form {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--grey2);
  height: fit-content;
  width: 100%;
  font-size: small;
  padding: 15px 15px;
  border-radius: 7px;
  max-width: 300px;
}
.input-default {
  border: none;
  outline: none;
  background-color: var(--grey1);
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
}
label {
  padding-top: 8px;
}
.text3 {
  color: var(--grey3);
}
.div-value {
  background-color: var(--grey1);
  display: flex;
  padding: 0px 5px;
  border-radius: 7px;
}
.value-input {
  width: 80%;
}
.container-value {
  display: flex;
  justify-content: space-between;
}
.value {
  width: 40%;
}

form button {
  background-color: var(--color-primary);
  color: var(--white);
  font-weight: 600;
  margin-top: 15px;
}
form button:hover {
  background-color: var(--color-primary-2);
  cursor: pointer;
}
.hp-page-container {
  max-width: 80%;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.hp-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list1 {
  list-style: none;
  display: flex;
  gap: 15px;
}

.filters {
  height: fit-content;
  width: 100%;
  max-width: 400px;
}

.total-value {
  margin-top: 15vh;
  font-size: 13px;
  border: solid 2px var(--grey2);
  border-radius: 7px;
  width: 100%;
  max-width: 300px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}
.div-total2 {
  color: var(--color-primary);
}
@media (max-width: 405px) {
  .nav-filter {
    flex-direction: column;
  }
}
@media (min-width: 770px) {
  .hp-page-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
